<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="../../assests/stylesheets/aplication.css">
</head>
<body>

    <% if user_signed_in? %>
        <h1>Bienvenido <%= current_user.email %> </h1>
        <h1><%= current_user.nombre%> </h1>
    <% else %>
        <h1>AlquilApp </h1>
    <% end %>

</body>
</html>

